/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,600;1,300&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.container {
    margin-top: 100px;
    width: 100%;

    /* Center vertically and horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .child {
  }

  .title{
    color: #ffde98;
    text-align: center;
    margin: 20px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 10px;



  }

  .author{
    color: #ffde98;
    text-align: center;
    font-size: 15px;
    font-weight: 100;
  }
#splash{
  position: absolute;
  width: 800px;
}
  #artwork {
    display: block;
    border: solid 50px;
    border-bottom-color: #ffde98;
    border-left-color: #85734c;
    border-right-color: #ffedc6;
    border-top-color: #69572d;
    box-shadow: #0000007d 7px 7px 11px;
    margin-left: auto;
    margin-right: auto;

  }

  html {
    background-color: #de2c2c;
    font-family: 'Cormorant Garamond', serif;
  }

  .comment {
    
  
  position: absolute;
    background: white;
    text-transform: uppercase;
    font-family: sans-serif;
    padding: 10px;
    font-weight: 200;
    bottom: 924px;
    left: 304px;
    transform: rotate(351deg);
  }

  button {
    font-family: 'Cormorant Garamond', serif; 
  bottom: 50px;
  position: absolute;
  left: 0;
  right: 0;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: #ffeec6;
  border: solid 8px;
  border-bottom-color: #ffde98;
  border-left-color: #85734c;
  border-right-color: #ffedc6;
  border-top-color: #69572d;
  box-shadow: #0000007d 2px 2px 10px;    
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 5px;
  color: #69572d;
}

button:active{

background-color: #ffde98;
border: solid 8px;
border-top-color: #ffde98;
border-right-color: #85734c;
border-left-color: #ffedc6;
border-bottom-color: #69572d;
box-shadow: #0000007d 2px 2px 10px;
}
